@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
}


:root {
    --main: #0f485c;
    --sub: #f4fffd;
}

h1 {
    color: var(--sub);
    position: absolute;
}

h2 {
    margin-bottom: 10px;
}

body {
    background-color: var(--sub);
    height: 60vh;
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    background-color: var(--main);
    height: 90px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
    position: relative;
}

li {
    list-style: none;
}

a {
    color: var(--sub);
    text-decoration: none;
}

.logga {
    max-height: 200px;
    max-width: 200px;
    width: 90px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

}

.navbar {
    font-family: 'Lato', sans-serif;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    text-align: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    padding: 6px 10px;
}

.nav-link {
    transition: all 0.7s ease;
}

.nav-item a {
    padding: 6px 10px;
    border-radius: 10px;
}

.nav-item a:hover {
    background-color: #0b3848;
}


.nav-menu {
    position: absolute;
    right: 100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--main);
    width: 100%;
    text-align: center;

}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    right: 0;
}

.link-menu {
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.link-menu li {
    margin: 0 24px;
}

.logo .baner {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding: 0;
}

.logo {
    width: 15vw;
    height: 11.4vh;
    object-fit: cover;
}

.baner {
    width: 77vw;
    height: 11.4vh;
    object-fit: cover;
}

.nav-pics {
    margin: 0;
    padding: 0;
    display: flex;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: var(--main);
    border-radius: 20px;
    width: 40vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 2rem 32px;
}

.info-box {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: var(--sub);
}


.info-box h2,
p {
    margin: 5px 0;
}

.content-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

footer {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: fixed;
    margin-bottom: 4vh;
}

.footer-container {
    font-family: 'Lato', sans-serif;
    color: var(--sub);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f485c;
    width: 90%;
    height: 100%;
    border-radius: 50px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
}

.footer-container p {
    margin: 12px;
}

fieldset {
    color: var(--sub);
    border: none;
    width: 10vh;
}

.option {
    display: flex;
    justify-content: center;
}

.boka-container {
    position: relative;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f485c;
    width: 40vh;
    height: 40vh;
    border-radius: 50px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.7));
    margin-top: 10%;
    z-index: 98;
}

.hitta-container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.hitta-box {
    background-color: var(--main);
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.7));
}

.omOss-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.omOss-container,
.omRum-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 30vh;
    background-color: #0f485c;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 48px 24px;
    text-align: center;
    border-radius: 32px;
    margin: 0 20px;
}


.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.bild {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bild img {
    width: 30vw;
    height: 40vh;
    object-fit: cover;
    padding-bottom: 3vh;
}


@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .link-menu {
        display: none;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .info-container {
        height: 30vh;
        min-width: 50vw;
        margin-bottom: 15px;
    }

    .footer-container p {
        margin: 6px;
        font-size: 13px;
    }

    .omRum-container,
    .omOss-container {
        height: 382px;
    }

    .omOss-container p {
        margin-bottom: 40px;
        font-size: 13px;
    }

    .omRum-container p {
        font-size: 13px;
    }

    .hitta-box {
        width: 90%;
    }

    .info-box p {
        font-size: 13px;
    }

    .bild {
        margin-top: 300px;
        height: 450px;
    }

    .bild img {
        width: 60%;
        height: auto;
    }

    .hamburger {
        display: none;
        position: absolute;
        right: 16px;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: var(--sub);
        transition: 0.3s ease;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translatey(8px) rotate(45deg);

    }

    .hamburger.active .bar:nth-child(3) {
        transform: translatey(-8px) rotate(-45deg);

    }

}